/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* DEBUG */

.debug header{
    background-color: #add8e6;
}

.debug .header-top{
    background-color: #daa520;
    border: 1px dashed black;
}

.debug .header-top > *{
    border: 1px dashed black;
}
   
.debug .preview{
    background-color: #00008b;
    border: 3px dashed black;
}
   
.debug .preview-row{
    height: 300px;
}

.debug .preview-column{
    background-color: #ee82ee;
}

.debug .row-main{
    height: 400px;
}

.debug .col-big-main{
    background-color: #1e90ff;
    border: 1px dashed black;
}

.debug .col-small-main{
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.debug .row-end-main{
    height: 600px;
}

.debug .col-end-main{
    background-color: #228b22;
    border: 1px dashed black;
}

.debug .row-footer-top{
    height: 500px;
}

.debug .col-big-footer{
    background-color: #f08080;
    border: 1px dashed black;
}

.debug .col-small-footer{
    background-color: #20b2aa;
    border: 1px dashed white;
}

.debug hr{
    color: white;
}

.debug footer{
    background-color: #23272a;
}

.debug .row-footer-bottom{
    height: 50px;
    width: 100%;
    background-color: #7fffd4;
}

.debug .logo-footer{
    background-color: #ffb6c1;
    border: 1px dashed black;
}

.debug .bottone-footer{
    background-color: #ffb6c1;
    border: 1px dashed black;
}


/* COMMON */

.container{
    max-width: 1000px;
    margin: auto;
}

h5{
    color: white;
}

ul{
    list-style: none;
}

.waves{
    background-image: url(../img/wave\ \(2\).svg);
}


/* BUTTONS */

.btn{
    border: none;
    border-radius: 12px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.login-btn{
    background-color: white;
    color: black;
}

.download-btn{
    margin-right: 5px;
    font-size: 18px;
}

.open-btn{
    margin-left: 5px;
    font-size: 18px;
    color: white;
    background-color: #23272a;
}

.download-btn-end{
    margin-left: 425px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
    background-color: #7289da;
}

/* HEADER */

header{
    padding: 15px 0;
    background-color: #255ee9;
}

.header-top{
    display: flex;
    align-items: center; 
    padding: 5px 0;
    margin-bottom: 15px;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
}

.navigation ul li{
    margin: 0 10px;
}

.navigation ul li a{
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

.logo{
    padding-left: 5px;
    width: 20%;
    padding: 10px;
}

.navigation{
    width: 60%; 
    padding: 10px; 
}

.login{
    padding-right: 5px;
    width: 20%;
    text-align: right;
    padding: 10px;
}

/* PREVIEW SECTION */

.preview{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.preview-row{
    display: flex;
    justify-content: space-around;
}

.preview-column{
    text-align: center;
    width: 60%;
}

.main-title{
    color: white;
    text-align: center;
    font-size: 35px;
}

.paragraph{
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

/* MAIN */

.row-main{
    display: flex;
    margin: 25px 0;
    padding: 25px 0;
}

.col-big-main{
    width: 60%;
}

.col-small-main{
    width: 40%;
}

.main-image{
    padding-right: 50px;
}

.section-title{
    padding-left: 100px;
    padding-top: 35px;
    font-size: 40px;
}

.section-paragraph{
    padding-left: 100px;
    padding-top: 20px;
    font-size: 20px;
}

.row-end-main{
    display: flex;
    padding: 25px 0;
    margin-bottom: 25px;
}

.col-end-main{
    width: 100%;
}

.end-main-title{
    text-align: center;
    font-size: 40px;
}

.end-main-paragraph{
    text-align: center;
    padding-top: 25px;
}

.end-main-img{
    align-self: center;
}

.last-title{
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}


/* FOOTER */

footer{
    background-color: #23272a;
}

.row-footer-top{
    display: flex;
    margin-top: -25px;
    padding: 25px 0;
}

.col-big-footer{
    width: 26%;
}

.col-small-footer{
    width: 19%;
}

hr{
    margin-top: 20px;
    margin-bottom: 15px;
}

.row-footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footer-title{
    color: #7289d9;
    font-size: 20px;
}

.language{
    margin-top: 15px;
    font-weight: normal;
}

.ita-flag{
    width: 10px;
    height: 10px;
}

.social-icons{
    color: white;
    margin-top: 5px;
    padding-right: 20px;
    font-size: 15px;
}

.footer-nav-title{
    color: #7289d9;
}

li .footer-nav-list{
    list-style: none;
    margin-top: 10px;
    margin-right: 15px;
    padding-bottom: 25px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

hr{
    border: 1px solid #4f5d8c;
}

.logo-footer{
    margin-bottom: 25px;
} 

.bottone-footer{
    color: white;
    background-color: #7289da;
}

